.class-1,
.cooler-3,
.class-5{
    background-color: rgb(211, 145, 156);
    font-family: Verdana,"DejaVu Sans", sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.cooler-3{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}